<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Liban Britt</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="icon" href="/images/favicon.png">
</head>

<body>

    <!-- Making top header Section -->
    <header id="topHeader">
        <div class="center">
            <h1 id="h1Header">Liban Britt</h1>

            <!-- Insert Photo here when ready -->
            <div class="img-container">
                <img src="/images/pixSelfie.png" alt="Picture of Myself">
            </div>
            <p><i>Picture will be included when I get a headshot!</i></p>
        </div>
    </header>

    <!-- Contact Information -->
    <div class="enabler">
        <div class="left">
            <p>britt.liban@student.greenriver.edu</p>
            <p>253-486-4028</p>
        </div>
    
        <div class="right">
            <a href="https://www.linkedin.com/in/liban-britt-3981a587/" target="_blank" rel="noopener noreferrer">LinkedIn</a> |
            <a href="https://github.com/brittLiban" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
    </div>
    

    <!-- Summary Section -->
    <section>
        <h2>Summary</h2>
        <p>
            A curious software engineering student eager to apply academic knowledge in real-world applications
            through an internship, with a focus on learning and leveraging modern technologies.
        </p>
    </section>

    <!-- Education Section -->
    <section>
        <h2>Education</h2>
        <div class="secondLiner">
            <div>
                <p><strong>Green River College</strong> - Auburn, WA</p>
            </div>
            <div>
                <p>2026</p>
            </div>
        </div>
        <p>Bachelor of Applied Science, expected June 2026</p>
        <p>Major: Software Development (Applied Computer Science), GPA: x.y</p>
        <p>Relevant Coursework:</p>

        <ul class="two-columns">
            <li>Object-Oriented Programming</li>
            <li>Data Structures</li>
            <li>Full Stack Web Development</li>
            <li>Algorithms</li>
            <li>Database Fundamentals</li>
            <li>Agile Development Methods</li>
            <li>Systems Programming (bitwise operations, exceptions, threads, networking)</li>
        </ul>
    </section>

    <!-- Skills and Certifications Section -->
    <section>
        <h2>Skills and Certifications</h2>
        <ul class="two-columns">
            <li>Languages: Java, PHP, SQL, JavaScript</li>
            <li>Web: HTML/CSS, Bootstrap, jQuery, JSON</li>
            <li>Agile: Pair programming</li>
            <li>Tools: Git, Eclipse, Linux</li>
            <li>Certified ScrumMaster</li>
            <li>CompTIA Security+</li>
        </ul>
    </section>

    <!-- Experience Section -->
    <section>
        <h2>Experience</h2>

        <!-- Experience One -->
        <div class="experience-item">
            <div class="secondLiner">
                <div>
                    <p><strong>Kent School District</strong> - Kent, WA</p>
                </div>
                <div>
                    <p>Current</p>
                </div>
            </div>
            <p>Substitute Teacher</p>
            <ul>
                <li>Provided substitute teaching for K-12 students in the Kent School District.</li>
                <li>Helped maintain classroom continuity and supported student learning.</li>
                <li>Managed classrooms and used district-approved learning platforms like Smartboards and educational apps.</li>
            </ul>
        </div>

        <!-- Experience Two -->
        <div class="experience-item">
            <div class="secondLiner">
                <div>
                    <p><strong>StemTac</strong> - Seattle, WA</p>
                </div>
                <div>
                    <p>2024</p>
                </div>
            </div>
            <p>Intern</p>
            <ul>
                <li>Working towards providing temporary housing for families with school-aged children during summer break using 3D printing.</li>
                <li>Part of the first cohort of students and produced the first test-ready model.</li>
                <li>Responsible for structural engineering using Inventor and assisted in the model design using CAD (AutoDesk).</li>
            </ul>
        </div>
    </section>

    <!-- Achievements and Activities Section -->
    <section>
        <h2>Achievements and Activities</h2>
        <ul>
            <li>LSAMP - Outstanding Academic and Professional Development Certificate</li>
            <li>YearUp - 6 Months Professional Development Certificate</li>
            <li>BoardMasters - Whiteboarding Leet code problems with my peers</li>
        </ul>
    </section>

</body>

</html>
